main{
    padding: 1rem 2%;
    display: block;
}
header{
    max-width: 850px;
    margin: 0 auto;
    background-image: url(../images/cozy.jpg);
    height: 400px;
    font-family: Verdana;
}
header h1{
    color: #fff;
    text-transform: capitalize;
    font-weight: bolder;
}
header h2{
    color: #fff;
    text-decoration-line: overline;
}

/*footer rules*/
footer{
    text-align: center;
    padding: .5rem 2%;
    background-color: rgb(117, 83, 55);
    color: #fff;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}